body{
    background-image: url("img/4.jpg");
    background-size: cover;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: white;
    min-height: 100vh;

    
}
p {
    text-transform: lowercase;
    margin: -25px;
    font-weight: bold;
    color: rgb(41, 34, 34);
}



aside {
    background-color: rgba(102, 13, 20, 0.);
    font-size: 14px;
    text-transform: uppercase;
    line-height: 75px;
    padding:  75px;
    text-align: left;
    position: fixed;
    width: 110px;
    min-height: 100vh;
    

}

aside a {
    text-decoration: none;
    color: white;
    
}
ul {
    list-style-type:none;
}
.site-main {
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
}


footer {
    position: absolute;
    bottom: 0;
    width: 120%;
    height: 3.5rem; 
}
footer a{
    color: white;
    text-decoration: none;
    margin: 25px;

    
}